@model ItemModel



<div class="container">
    <h2 class="display-4">Lägg till nytt objekt</h2>
    <form method="post" asp-action="Insert" asp-controller="Home">
        <div class="form-group">
        </div>
        <div class="form-group">
            <label asp-for="category"></label>
            @* <input asp-for="category" class="form-control" /> *@
            <select asp-for="category" class="form-control" id="category" onchange="show_car() ">
                <option value="">Välj Kategori</option>
                <option value="vehicle">Bil</option>
                <option value="cloths">Kläder</option>
            </select>
        </div>
        <div class="forms_div" id="forms_div">
            <div class="form-group">
                <label asp-for="title"></label>
                <input asp-for="title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="price"></label>
                <input asp-for="price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="description"></label>
                <textarea asp-for="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="color"></label>
                <textarea asp-for="color" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="image"></label>
                <textarea asp-for="image" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit"  id="form-button" value="Lägg till annons" class="btn-btn-primary" />
            </div>

        </div>

@* 
        <div id="car_form" class="kläder" >
            <div class="form-group">
                <label asp-for="title"></label>
                <input asp-for="title" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="price"></label>
                <input asp-for="price" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="description"></label>
                <textarea asp-for="description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <select asp-for="gender" class="form-control">
                <option value="">Välj kön</option>
                <option value="m">Herr</option>
                <option value="f">Kvinna</option>
                <option value="u">Unisex</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="color"></label>
                <textarea asp-for="color" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <select asp-for="size" class="form-control">
                <option value="">Välj storlek</option>
                <option value="l">Large</option>
                <option value="m">Medium</option>
                <option value="s">Small</option>
            </select>
            </div>
            <div class="form-group">
                <label asp-for="image"></label>
                <textarea asp-for="image" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <input type="submit"  id="form-button" value="Lägg till annons" class="btn-btn-primary" />
            </div>
        </div> *@

        
    </form>
</div>

