@model UsersModel

 <form method="post" asp-action="userLogin" asp-controller="Home">
        <div>
            <div class="form-group">
                <label asp-for="username"></label>
                <input asp-for="username" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="password"></label>
                <input asp-for="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit"  id="loginbutton" value="Logga in" class="btn-btn-primary" />
            </div>

        </div> 
  </form>